@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

.topnav {
    overflow: hidden;
    background: #E5E5E5;
    font-family: 'Nunito Sans', sans-serif;
    
  }
  
  .topnav a {
    float: left;
    display: block;
    color: rgb(179, 173, 173);
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 14px;
    border-bottom: 2px solid rgb(179, 173, 173);
    
  }
  
  .topnav a:hover {
    border-bottom: 2px solid red;
    text-decoration: none;
    color: tomato;
  }
  
  .topnav a.active {
    border-bottom: 2px solid red;
    color: tomato;
  }
.topnav a #projDeadline{
    color: #4DBD98
}